@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/* 
font-family: 'Noto Sans KR', sans-serif; 
font-family: 'Titillium Web', sans-serif;
*/
*{margin: 0;padding: 0;}
ul,ol,li{list-style: none;}
a{text-decoration: none;}
img{border: none;}
body{
    background: #0F4C82;
}

/* .header */

.header{
    border: 10px solid #fff;
    background: #0F4C82;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    border-bottom: 5px solid #fff;
}
.header .date{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4em;
}
.header h1{
    font-size: 10em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.header .close{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 30px;
    cursor: pointer;
}
.header .close span{
    display: block;
    width: 100%;
    height: 10px;
    background: #ffffff;
    position: absolute;
    transform: rotate(45deg);
}
.header .close span:last-child{
    transform: rotate(-45deg);
}
section{
    border: 5px solid #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    box-sizing: border-box;
}
#grid{
    width: 100%;
}
.grid-item { 
    width: 33.3333333%;
    border: 5px solid #fff;
    padding: 50px;
    box-sizing: border-box;
    min-height: 300px;
    height: auto;
}
.grid-item .img-wrapper{
    width: 100%;
    margin-bottom: 50px;
}
.grid-item .img-wrapper img{
    width: 100%;
    vertical-align: top;
}
.grid-item .text-wrapper{
    color: #ffffff;
}
.grid-item .text-wrapper h2{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 40px;
}
.grid-item .text-wrapper p{
    font-size: 1.1em;
    line-height: 150%;
}