.main{
    overflow: hidden;
    padding-top: 150px;
    height: 1100px;
}

.main .section{
    float: left;
    width: 50%;
}
.main .section h1{
    text-align: center;
    font-size: 2.2em;
    font-weight: 300;
    border-radius: 50px;
    border: 1px solid #000;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.main .notice{
    border-right: 1px solid #000;
    box-sizing: border-box;
}
.main .notice dl{
    padding: 50px;
    box-sizing: border-box;
}
.main .notice dl dt{
    border: 1px solid #000;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}
.main .notice dl dt.show{
    background: #DAEBFF;
    border: 1px solid #9DCAFF;
}
.main .notice dl dt .text-wrapper{
    float: left;
}
.main .notice dl dt .text-wrapper h2{
    font-size: 1.5em;
    font-weight: 400;
}
.main .notice dl dt .text-wrapper h3{
    color: #024ea2;
    font-size: 1.2em;
    font-weight: 400;
}
.main .notice dl dt .text-wrapper h4{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}

.main .notice dl dt .btn{
    float: right;
    line-height: 50px;
    position: relative;
    width: 120px;
    height: 50px;
    margin-top: 25px;
    background: #0D55A6;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0;
    transition: all ease .5s;
    z-index: -1;
}
.main .notice dl dt .btn img{
    width: 35px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.main .notice dl dt.show .btn{
    opacity: 1;
    z-index: 1;
}
.main .notice dl dt .btn p{
    position: absolute;
    width: 80px;
    right: 0;
    text-align: center;
    color: #fff;
}
.main .notice dl dd{
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;
    overflow: hidden;
    max-height: 0;
    transition: all ease .5s;
}
.main .notice dl dt.show + dd{
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 600px;
}
.main .notice dl dd:last-child{
    border-bottom: 1px solid #000;
}
.main .notice dl dd ul{}
.main .notice dl dd ul li{}
.main .notice dl dd ul li h2{
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 20px;
}
.main .notice dl dd ul li p{
    margin-bottom: 20px;
}
.main .notice dl dd ul li p span{
    color: #034ea2;
}

.main .faq{}
.main .faq h1{}
.main .faq dl{
    padding: 50px;
    box-sizing: border-box;
}
.main .faq dl dt{
    font-size: 1.5em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    border-top: 1px solid #000;
    cursor: pointer;
}
.main .faq dl dt.show{
    color: #0d55a6;
}
.main .faq dl dd{
    color: #0d55a6;
    overflow: hidden;
    max-height: 0;
    overflow: hidden;
    transition: all ease .5s;
}
.main .faq dl dt.show + dd{
    padding-bottom: 20px;
    max-height: 300px;
}
.main .faq dl dd:last-child{
    border-bottom: 1px solid #000;
}
.main .faq dl dd .a{
    font-size: 1.5em;
    float: left;
    width: 40px;
}
.main .faq dl dd p{
    float: right;
    width: calc(100% - 40px);
}