.main{}

/* top */

.main .top{
    height: 100vh;
    padding-top: 130px;
    box-sizing: border-box;
}
.main .top .wrap{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.main .top .wrap .title{
    overflow: hidden;
}
.main .top .wrap .title .h1-wrapper{
    float: left;
    width: 221px;
    overflow: hidden;
}
.main .top .wrap .title .h1-wrapper h1{
    width: 221px;
    font-size: 3em;
    line-height: 142px;
    margin-left: 221px;
}
.main .top .wrap .title .line{
    float: left;
    height: 0;
    width: 2px;
    background: #000;
    margin-left: 100px;
    margin-top: 15px;
    transition: all ease .5s;
}

.main .top .wrap .title .p-wrapper{
    width: 552px;
    float: right;
    overflow: hidden;
}
.main .top .wrap .title .p-wrapper p{
    width: 552px;
    font-size: 3em;
    font-weight: 300;   
    margin-left: -552px;
}
.main .top .wrap .title .p-wrapper p span{
    font-weight: 500;
}
.main .top .wrap .content-wrapper{
    margin-top: 80px;
}
.main .top .wrap .content-wrapper .img-wrapper{
    opacity: 0;
    text-align: center;
}
.main .top .wrap .content-wrapper .img-wrapper img{}
.main .top .wrap .content-wrapper .text{
    margin-top: 50px;
    font-size: 1.2em;
    opacity: 0;
}

/* bottom */

.main .bottom{
    background: #DEEEFF;
}
.main .bottom .wrap{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    overflow: hidden;
}
.main .bottom .wrap .content-wrapper{
    width: 50%;
    float: left;
    height: 311px;
    overflow: hidden;
    margin-bottom: 100px;
    position: relative;
}
.main .bottom .wrap .content-wrapper .content{
    width: 310px;
    margin-left: auto;
    margin-right: auto;
}
.main .bottom .wrap .content-wrapper .content .img-wrapper{}
.main .bottom .wrap .content-wrapper .content .img-wrapper img{
    vertical-align: top;
}
.main .bottom .wrap .content-wrapper .content .heading{
    background: #fff;
    padding: 10px;
    padding-top: 5px;
    overflow: hidden;
    height: 78px;
    box-sizing: border-box;
}
.main .bottom .wrap .content-wrapper .content .heading .title{
    float: left;
}
.main .bottom .wrap .content-wrapper .content .heading .title h2{
    font-size: 1.5em;
    font-weight: 400;
}
.main .bottom .wrap .content-wrapper .content .heading .title h3{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
}
.main .bottom .wrap .content-wrapper .content .heading .plus{
    float: right;
    position: relative;
    width: 30px;
}
.main .bottom .wrap .content-wrapper .content .heading .plus span{
    width: 15px;
    height: 2px;
    background: #000;
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
}
.main .bottom .wrap .content-wrapper .content .heading .plus span:last-child{
    transform: rotate(90deg);
}

.main .bottom .wrap .content-wrapper .text-wrapper{
    width: 310px;
    height: 311px;
    padding: 8px;
    box-sizing: border-box;
    background: #034EA2;
    position: absolute;
    top: 100%;
    left: 50%;
    transform:translateX(-50%);
    transition: all ease .5s;
}
.main .bottom .wrap .content-wrapper .text-wrapper p{
    font-size: 0.9em;
    color: #fff;
}